<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Demo</title>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://datatables.net/media/css/site-examples.css">
    </head>

    <body>

        <div style="margin: 20px;">

            <table id="example" class="display dataTable cell-border" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start Date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
            </table>

        </div>

        <script th:inline="javascript">

            $(document).ready(function () {

                // build extra header row for filtering:
                $('#example thead tr')
                        .clone(true)
                        .addClass('filters')
                        .appendTo('#example thead');

                $('#example').DataTable({
                    serverSide: true,
                    processing: true,
                    orderCellsTop: true,
                    search: {
                        return: true
                    },
                    language: {
                        search: "Starts with (enter to search):"
                    },
                    ajax: {
                        url: "http://localhost:8080/demo/listing",
                        type: "POST",
                        contentType: "application/json",
                        data: function (d) {
                            d.columns[2].search.value = $('select#office option').filter(':selected').val();
                            return JSON.stringify(d);
                        }
                    },
                    columns: [
                        {data: "name"},
                        {data: "position"},
                        {data: "office"},
                        {data: "age"},
                        {data: "startDate"},
                        {data: "salary", searchable: false}
                    ],
                    initComplete: function () {
                        setUpColumnSearch(this.api());
                    }
                });

            });

            function setUpColumnSearch(api) {
                // build a drop-down list for the Office column:
                let office_names = /*[[${offices}]]*/ []; // from Thymeleaf
                api.columns().eq(0).each(function (colIdx) {
                    let cell = $('.filters th').eq($(api.column(colIdx).header()).index());
                    let title = $(cell).text();
                    cell.text('');
                    if (colIdx === 2) { // 'office' column
                        let id = title.toLowerCase().replaceAll(' ', '_');
                        var sel = $('<select id="' + id + '">').appendTo($(cell));
                        sel.append($("<option>").attr('value', '').text('-- all offices --'));
                        $(office_names).each(function () {
                            sel.append($("<option>").attr('value', this).text(this));
                        });
                    }
                    // add a change event for the Office drop-down:
                    $('select', $('.filters th').eq($(api.column(colIdx).header()).index()))
                            .off('change')
                            .on('change', function () {
                                api.draw(); // re-trigger the ajax call
                            });
                });
            }

        </script>

    </body>
</html>
